<ion-view title="Payments" id="page8">
  <ion-content padding="false" class="has-header">
    <div>
      <img src="img/gdSAb2irRu2eqOg2SfN6_ScreenShot2018-10-05at11.10.55PM.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/sfUqE7SxRRaXCdbgbtDw_ScreenShot2018-10-05at11.11.59PM.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/1ZhDq7aRU3cle53bfZGQ_ScreenShot2018-10-05at11.12.19PM.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/rzVqgkqES4qWXFlkwXqb_ScreenShot2018-10-05at11.12.26PM.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h3 id="payments-heading2" style="color:#000000;font-weight:lighter;">Amount:</h3>
    <div id="payments-button-bar1" class="button-bar">
      <button id="payments-button9" style="border-radius:9px 9px 9px 9px;" class="button button-dark button-small">Pay</button>
    </div>
  </ion-content>
</ion-view>